<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hackatron.cookiejar" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CookieJar</name>
    <description>
        Cookie Jar!
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        CookieJar Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="icon.png" platform="android" width="64" height="64" density="mdpi" />
</widget>
